<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBetService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBetService" contract="ConsoleClient.IBetService"
                name="BasicHttpBinding_IBetService" />
        </client>
    </system.serviceModel>
</configuration>